nav .navWide {
    display: none;
    margin: 0 auto;
}

.formcontainer {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.divcenter {
    margin: 0 auto;
}


/* Text Box CSS */

div.transbox {
    margin-left: auto !important;
    margin-right: auto !important;
    width: 50%;
    height: 100%;
    background-color: #ffffff;
    border: 5px solid black;
    opacity: 0.6;
    filter: alpha(opacity=60);
}

div.transbox p {
    margin: 5%;
    font-weight: bold;
    text-align: center;
    color: #000000;
}

.divcenter {
    margin: 0 auto;
}

.maintextbox {
    width: 50%;
    height: 50%;
}

input {
    display: block;
    margin: 0 auto;
}


/* Stars CSS  */

@keyframes move-twink-back {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -10000px 5000px;
    }
}

@-webkit-keyframes move-twink-back {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -10000px 5000px;
    }
}

@-moz-keyframes move-twink-back {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -10000px 5000px;
    }
}

@-ms-keyframes move-twink-back {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -10000px 5000px;
    }
}

.stars,
.twinkling {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: block;
}

.stars {
    background: #000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
    z-index: 0;
}

.twinkling {
    background: transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
    z-index: 1;
    -moz-animation: move-twink-back 200s linear infinite;
    -ms-animation: move-twink-back 200s linear infinite;
    -o-animation: move-twink-back 200s linear infinite;
    -webkit-animation: move-twink-back 200s linear infinite;
    animation: move-twink-back 200s linear infinite;
}

.moon {
    position: absolute;
    top: 8%;
    height: 300px;
    left: 50px;
    width: 120px;
    background: url(https://docs.google.com/uc?export=download&id=0B2PO2Lr7Bv2QRTVYeVFoYVppeUU);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
}