{% extends "landingpage.html" %} {% load crispy_forms_tags %}-->
<p></p>
{% block content %}
<div class="col-2"></div>
<div class="col-8">
    {% load crispy_forms_tags %}

    <h2 style="text-align:center; padding-top:9px;">Reservation</h2>
    <div>
        <form class="maintextbox divcenter" action="" method="POST">
            {% csrf_token %}
            <p></p>
            {{ form|crispy }} {% if field.help_text %}
            <small style="color: grey">{{ field.help_text }}</small>
            <p></p>
            {% endif %}
            <p></p>
            {% for error in field.errors %}
            <p style="color: red">{{ error }}</p>
            {% endfor %}
            <form action="/" method="POST">
                <input class="reservebutton" type="submit" name="reserve" value="Complete Reservation">
            </form>
        </form>
    </div>
</div>
<div class="col-3"></div>

{% endblock %}