{% block content %}
<h1>Your Reservation</h1>
  <p></p>
  <ul>
    <li><strong>Train:</strong> {{ TripInfo.trip_train }}</li>
    <li><strong>Reservation:</strong> {{ TripInfo.reservation }}</li>
    <li><strong>Fare type:</strong> {{ TripInfo.fare_type }}</li>
    <li><strong>fare:</strong> {{ TripInfo.fare }}</li>
    <li><strong>Start Station:</strong> {{ TripInfo.trip_seg_start }}</li>
    <li><strong>End Station:</strong> {{ TripInfo.trip_seg_ends }}</li>
    <li><strong>Trip Date:</strong> {{ TripInfo.trip_date }}</li>
    <li><strong>Departure time:</strong> {{ TripInfo.departuretime }}</li>
    <li><strong>Arival time:</strong> {{ TripInfo.arivaltime }}</li>
  </ul>
     <form action = "" method="get">
         <input type="button" value="Cancel reservation" onclick="window.location.href='/cancel?reservation={{TripInfo.reservation}}'" />
     </form>
{% endblock %}