{% extends "landingpage.html" %}
<!-- -->
{% block title %} Thank Your For purchasing {% endblock %}
<!-- -->
{% block content %}
<div style="margin: 0 auto">
    <h1 style="text-align:center">Trip receipt: save reservation number to view/Cancel</h1>
    <ul>
        <li><strong>Train:</strong> {{ trip.trip_train }}</li>
        <li><strong>Reservation:</strong> {{ trip.reservation }}</li>
        <li><strong>Fare type:</strong> {{ trip.fare_type }}</li>
        <li><strong>fare $:</strong> {{ trip.fare }}</li>
        <li><strong>Start Station:</strong> {{ trip.trip_seg_start }}</li>
        <li><strong>End Station:</strong> {{ trip.trip_seg_ends }}</li>
        <li><strong>Trip Date:</strong> {{ trip.trip_date }}</li>
        <li><strong>Departure time:</strong> {{ trip.departuretime }}</li>
        <li><strong>Arival time:</strong> {{ trip.arivaltime }}</li>
    </ul>
</div>

{% endblock %}