{% extends "landingpage.html" %} {% load crispy_forms_tags %}
<p></p>
{% block content %}
<div class="col-2"></div>
<div class="col-8">
    {% load crispy_forms_tags %}

    <h2 style="text-align:center; padding-top:9px;">Trip look up</h2>
    <div>
        <form class="maintextbox divcenter" action="" method="POST">
            {% csrf_token %}
            <p></p>

            <!--
                {% for field in form %}
                <p> {{ field.label_tag }} </p>
                <p> {{ field }} </p>
                </p>
                {% endfor %}
            -->
            {{ form|crispy }} {% if field.help_text %}
            <small style="color: grey">{{ field.help_text }}</small>
            <p></p>
            {% endif %}
            <p></p>
            {% for error in field.errors %}
            <p style="color: red">{{ error }}</p>
            {% endfor %}
            <form action="" method="POST">
                <input class="reservebutton" type="submit" name="search" value="Search">
            </form>
        </form>
    </div>
</div>
<div class="col-3"></div>

{% endblock %}